.content {
  float: left;
  width: 75%;
  padding: 1em;
  background-color: green;
  box-sizing: border-box;   
}

.sidebar {
  float: right;
  width: 25%;
  padding: 1em;
  background-color: red;
  box-sizing: border-box; 
}
